<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <!-- <link rel="icon" type="image/png" href="./assets/images/mona.png" /> -->
    <title>Product</title>
  </head>

  <body>
    <header class="header">
      <div class="header-logo">
        <a href="" class="custom-logo-link">
          <img src="./assets/images/logo.png" alt="Dong A Plastic Recycling" />
        </a>
      </div>
      <div class="header-right">
        <div class="header-language-wr">
          <div class="language-list">
            <img src="./assets/images/icon-language-vn.png" alt="" />

            <a href="" class="current-language">VN</a>
            <i class="fas fa-chevron-down icon-language-chevdown"></i>
            <div class="sub-language">
              <div class="language-item">
                <img src="./assets/images/icon-language-vn.png" alt="" />
                <a href="" class="">EN</a>
              </div>
              <div class="language-item">
                <img src="./assets/images/icon-language-vn.png" alt="" />
                <a href="" class="">CN</a>
              </div>
            </div>
          </div>
        </div>
        <div class="burger header-btn-menu">
          <div class="hamburger" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div class="header-menu">
        <div class="container">
          <div class="menu-wr">
            <div class="menu-ctn">
              <div class="menu-right mobile">
                <div class="right-ctn">
                  <p class="title">Công ty TNHH Đông A</p>
                  <ul class="info-list">
                    <li class="info-item">
                      <a href="" class="info-link">
                        <div class="info-icon">
                          <img src="./assets/images/icon-location.svg" alt="" />
                        </div>
                        1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                      </a>
                    </li>
                    <li class="info-item">
                      <a
                        href="mailto:email@dongaplasticrecycling.com"
                        class="info-link"
                        target="_blank"
                      >
                        <div class="info-icon">
                          <img src="./assets/images/icon-mail.svg" alt="" />
                        </div>
                        email@dongaplasticrecycling.com
                      </a>
                    </li>
                    <li class="info-item">
                      <a
                        href="tel:111-222-333-444"
                        class="info-link"
                        target="_blank"
                      >
                        <div class="info-icon">
                          <img src="./assets/images/icon-phone.svg" alt="" />
                        </div>
                        111-222-333-444
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-left col-6">
                <div class="menu-nav">
                  <ul class="menu-list">
                    <li class="menu-item">
                      <a href="" class="menu-link">
                        Giới thiệu
                        <div class="menu-icon">
                          <img
                            src="./assets/images/icon-menu-active.svg"
                            alt=""
                          />
                        </div>
                      </a>
                    </li>
                    <li class="menu-item dropdown current-menu-page">
                      <a href="" class="menu-link">
                        Sản phẩm
                        <div class="menu-icon">
                          <img
                            src="./assets/images/icon-menu-active.svg"
                            alt=""
                          />
                        </div>
                      </a>
                      <ul class="menu-list">
                        <li class="menu-item">
                          <a href="" class="menu-link"> Mục A </a>
                        </li>
                        <li class="menu-item dropdown current-menu-page">
                          <a href="" class="menu-link"> Mục B </a>
                          <ul class="menu-list">
                            <li class="menu-item">
                              <a href="" class="menu-link"> Mục B1 </a>
                            </li>
                            <li class="menu-item">
                              <a href="" class="menu-link"> Mục B2 </a>
                            </li>
                            <li class="menu-item">
                              <a href="" class="menu-link"> Mục B3 </a>
                            </li>
                          </ul>
                        </li>
                        <li class="menu-item">
                          <a href="" class="menu-link"> Mục C </a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link">
                        Quy trình tái chế
                        <div class="menu-icon">
                          <img
                            src="./assets/images/icon-menu-active.svg"
                            alt=""
                          />
                        </div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link">
                        Tin tức
                        <div class="menu-icon">
                          <img
                            src="./assets/images/icon-menu-active.svg"
                            alt=""
                          />
                        </div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="" class="menu-link">
                        Liên hệ
                        <div class="menu-icon">
                          <img
                            src="./assets/images/icon-menu-active.svg"
                            alt=""
                          />
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="menu-right col-6">
                <div class="right-box">
                  <div class="right-img">
                    <img src="./assets/images/menu-view.jpg" alt="" />
                  </div>
                  <div class="right-ctn">
                    <p class="title">Công ty TNHH Đông A</p>
                    <ul class="info-list">
                      <li class="info-item">
                        <a href="" class="info-link">
                          <div class="info-icon">
                            <img
                              src="./assets/images/icon-location.svg"
                              alt=""
                            />
                          </div>
                          1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                        </a>
                      </li>
                      <li class="info-item">
                        <a
                          href="mailto:email@dongaplasticrecycling.com"
                          class="info-link"
                          target="_blank"
                        >
                          <div class="info-icon">
                            <img src="./assets/images/icon-mail.svg" alt="" />
                          </div>
                          email@dongaplasticrecycling.com
                        </a>
                      </li>
                      <li class="info-item">
                        <a
                          href="tel:111-222-333-444"
                          class="info-link"
                          target="_blank"
                        >
                          <div class="info-icon">
                            <img src="./assets/images/icon-phone.svg" alt="" />
                          </div>
                          111-222-333-444
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-menu-close">
                    <img src="./assets/images/icon-close.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor">
          <img src="./assets/images/decor-right.png" alt="" />
        </div>
      </div>
      <div class="pg" style="width: 0%"></div>
    </header>
    <main class="main product">
      <!-- BREADCRUMB -->
      <section class="breadcrumb">
        <div class="container">
          <ul class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a href="">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
              <a href="">Sản phẩm</a>
            </li>
          </ul>
        </div>
      </section>
      <!-- BANNER -->
      <section class="product-banner">
        <div class="container">
          <div class="swiper productSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-slide-wr">
                  <div class="product-img col-6">
                    <div class="product-img-ab">
                      <img src="./assets/images/banner-sanpham.png" alt="" />
                    </div>
                  </div>
                  <div class="product-ctn col-6">
                    <h1 class="product-title">
                      CHẤT LƯỢNG XỨNG TẦM THƯƠNG HIỆU
                    </h1>
                    <p class="product-desc">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-slide-wr">
                  <div class="product-img col-6">
                    <div class="product-img-ab">
                      <img src="./assets/images/banner-sanpham.png" alt="" />
                    </div>
                  </div>
                  <div class="product-ctn col-6">
                    <h1 class="product-title">
                      CHẤT LƯỢNG XỨNG TẦM THƯƠNG HIỆU
                    </h1>
                    <p class="product-desc">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-slide-wr">
                  <div class="product-img col-6">
                    <div class="product-img-ab">
                      <img src="./assets/images/banner-sanpham.png" alt="" />
                    </div>
                  </div>
                  <div class="product-ctn col-6">
                    <h1 class="product-title">
                      CHẤT LƯỢNG XỨNG TẦM THƯƠNG HIỆU
                    </h1>
                    <p class="product-desc">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- PRODUCT TABLE -->
      <section class="product">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="side-fixed">
                <div class="side-fixed-wrap">
                  <div class="catelogy">
                    <div class="catelogy-hd">
                      <span class="catelogy-hd-icon">
                        <img src="./assets/images/icon-list.svg" alt="" />
                      </span>
                      <h2 class="catelogy-hd-title">DANH MỤC SẢN PHẨM</h2>
                    </div>
                    <div class="catelogy-menu">
                      <ul class="menu-list">
                        <li class="menu-item dropdown">
                          <a href="" class="menu-link"> Loại sản phẩm 01 </a>
                          <ul class="menu-list">
                            <li class="menu-item">
                              <a href="" class="menu-link"> Loại nhựa RRP </a>
                            </li>
                            <li class="menu-item">
                              <a href="" class="menu-link"> Loại nhựa RRP</a>
                            </li>
                          </ul>
                        </li>
                        <li class="menu-item dropdown">
                          <a href="" class="menu-link"> Loại sản phẩm 02 </a>
                          <ul class="menu-list">
                            <li class="menu-item">
                              <a href="" class="menu-link"> Loại nhựa RRP </a>
                            </li>
                            <li class="menu-item">
                              <a href="" class="menu-link"> Loại nhựa RRP</a>
                            </li>
                          </ul>
                        </li>
                        <li class="menu-item dropdown">
                          <a href="" class="menu-link"> Loại sản phẩm 03 </a>
                          <ul class="menu-list">
                            <li class="menu-item">
                              <a href="" class="menu-link"> Loại nhựa RRP </a>
                            </li>
                            <li class="menu-item">
                              <a href="" class="menu-link"> Loại nhựa RRP</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="side-close">
                  <i class="fas fa-times close icon"></i>
                </div>
              </div>
              <div class="side-overlay"></div>
              <div class="standee">
                <div class="standee-wr">
                  <div class="standee-hd">
                    <p class="txt">Nguyên liệu</p>
                    <p class="txt-main">NHỰA<br />TÁI SINH</p>
                    <!-- stroke -->
                    <svg class="fill-svg">
                      <defs>
                        <filter id="stroke-text-svg-filter">
                          <feMorphology
                            operator="dilate"
                            radius="1"
                          ></feMorphology>
                          <feComposite
                            operator="xor"
                            in="SourceGraphic"
                          ></feComposite>
                        </filter>
                      </defs>
                    </svg>
                    <p class="txt">Từ rác thải</p>
                  </div>
                  <div class="standee-list">
                    <div class="standee-item">
                      <div class="standee-item-img">
                        <img src="./assets/images/product-1.jpg" alt="" />
                      </div>
                    </div>
                    <div class="standee-item">
                      <div class="standee-item-img">
                        <img src="./assets/images/product-2.jpg" alt="" />
                      </div>
                    </div>
                    <div class="standee-item">
                      <div class="standee-item-img">
                        <img src="./assets/images/product-3.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="btn-view">
                    <a href="" class="btn-view-link"> Xem ngay </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="product-hd">
                <div class="product-sl">
                  <p class="txt">
                    Tất cả <span class="txt-highlight">200 </span> sản phẩm
                  </p>
                </div>
                <div class="catelogy-moblie">
                  <p class="txt">Danh mục</p>
                  <div class="side-open catelogy-moblie-btn">
                    <div class="side-open-wrap">
                      <i class="fas fa-angle-down icon"></i>
                    </div>
                  </div>
                </div>
                <div class="product-select">
                  <p class="txt">Sắp xếp</p>
                  <select
                    name="state"
                    id=""
                    class="product-select-list js-example-basic-single"
                  >
                    <option value="default">Mặc định</option>
                    <option value="zToA">Sắp xếp Z-A</option>
                  </select>
                </div>
              </div>
              <div class="product-table">
                <div class="row gutter-y">
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="product-item">
                      <div class="product-item-img">
                        <a href="A" class="product-item-img-link">
                          <img src="./assets/images/product-1.jpg" alt="" />
                          <span class="product-overlay">
                            Chi tiết
                            <span class="product-overlay-icon">
                              <img
                                src="./assets/images/icon-product.svg"
                                alt=""
                              />
                            </span>
                          </span>
                        </a>
                      </div>
                      <div class="product-info">
                        <a href="" class="product-info-link">Hạt như rPE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-pagi">
                <ul class="page-numbers">
                  <li>
                    <a href="" class="prev page-numbers" href=""
                      ><i class="fa fa-angle-left icon"></i
                    ></a>
                  </li>
                  <li>
                    <span class="page-numbers">1</span>
                  </li>
                  <li>
                    <a href="" class="page-numbers current">2</a>
                  </li>
                  <li>
                    <a href="" class="page-numbers">3</a>
                  </li>
                  <li>
                    <a href="" class="next page-numbers"
                      ><i class="fa fa-angle-right icon"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-top row">
          <div class="footer-logo col-3">
            <a href="" class="custom-logo-link">
              <img src="./assets/images/logo.png" alt="" />
            </a>
          </div>
          <div class="footer-ctn col-4">
            <p class="txt">
              Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ
              nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình
              bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
              gồm nội dung.
            </p>
          </div>
          <div class="footer-form col-5">
            <form action="">
              <label for="email">Đăng ký nhận tin</label>
              <div class="input-wr">
                <input type="text" name="email" placeholder="Email của bạn" />
                <button class="btn-submit" type="submit">
                  <img src="./assets/images/icon-mail.svg" alt="" />
                  Đăng ký
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-social">
          <ul class="social-list">
            <li class="social-item">
              <a href="">
                <img src="./assets/images/icon-facebook.svg" alt="" />
              </a>
            </li>
            <li class="social-item">
              <a href="">
                <img src="./assets/images/icon-youtube.svg" alt="" />
              </a>
            </li>
            <li class="social-item">
              <a href="">
                <img src="./assets/images/icon-instagram.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <div class="footer-menu">
            <ul class="menu-list">
              <li class="menu-item">
                <a href=""> Giới thiệu </a>
              </li>
              <li class="menu-item">
                <a href=""> Sản phẩm </a>
              </li>
              <li class="menu-item">
                <a href=""> Tuyển dụng </a>
              </li>
              <li class="menu-item">
                <a href=""> Liên hệ </a>
              </li>
            </ul>
          </div>
          <div class="copy">
            <p class="title txt">Thiết kế và phát triển bởi</p>
            <span class="desc">
              <span class="copy-icon">
                <img src="./assets/images/logo-mona.svg" alt="" />
              </span>
              <p class="txt">MONA.Media / Website</p>
              <span class="copy-icon">
                <img src="./assets/images/icon-share.svg" alt="" />
              </span>
            </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <img src="./assets/images/icon-backtotop.svg" alt="" />
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.js"></script>
    <script src="./js/library/gsap/scrollTrigger.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
