<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <!-- <link rel="icon" type="image/png" href="./assets/images/mona.png" /> -->
    <title>Home</title>
</head>

<body>
    <header class="header hd-main">
        <div class="header-logo">
            <a href="" class="custom-logo-link">
                <img src="./assets/images/logo.png" alt="Dong A Plastic Recycling" />
            </a>
        </div>
        <div class="header-right">
            <div class="header-language-wr">
                <div class="language-list">
                    <img src="./assets/images/icon-language-vn.png" alt="" />

                    <a href="" class="current-language">VN</a>
                    <i class="fas fa-chevron-down icon-language-chevdown"></i>
                    <div class="sub-language">
                        <div class="language-item">
                            <img src="./assets/images/icon-language-vn.png" alt="" />
                            <a href="" class="">EN</a>
                        </div>
                        <div class="language-item">
                            <img src="./assets/images/icon-language-vn.png" alt="" />
                            <a href="" class="">CN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="burger header-btn-menu">
                <div class="hamburger" id="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <div class="menu-wr">
                    <div class="menu-ctn">
                        <div class="menu-right mobile">
                            <div class="right-ctn">
                                <p class="title">Công ty TNHH Đông A</p>
                                <ul class="info-list">
                                    <li class="info-item">
                                        <a href="" class="info-link">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-location.svg" alt="" />
                                            </div>
                                            1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                                        </a>
                                    </li>
                                    <li class="info-item">
                                        <a href="mailto:email@dongaplasticrecycling.com" class="info-link"
                                            target="_blank">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-mail.svg" alt="" />
                                            </div>
                                            email@dongaplasticrecycling.com
                                        </a>
                                    </li>
                                    <li class="info-item">
                                        <a href="tel:111-222-333-444" class="info-link" target="_blank">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-phone.svg" alt="" />
                                            </div>
                                            111-222-333-444
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-left col-6">
                            <div class="menu-nav">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Giới thiệu
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item dropdown current-menu-page">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link"> Mục A </a>
                                            </li>
                                            <li class="menu-item dropdown current-menu-page">
                                                <a href="" class="menu-link"> Mục B </a>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B1 </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B2 </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link"> Mục C </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Quy trình tái chế
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Tin tức
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Liên hệ
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-right col-6">
                            <div class="right-box">
                                <div class="right-img">
                                    <img src="./assets/images/menu-view.jpg" alt="" />
                                </div>
                                <div class="right-ctn">
                                    <p class="title">Công ty TNHH Đông A</p>
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <a href="" class="info-link">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-location.svg" alt="" />
                                                </div>
                                                1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                                            </a>
                                        </li>
                                        <li class="info-item">
                                            <a href="mailto:email@dongaplasticrecycling.com" class="info-link"
                                                target="_blank">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-mail.svg" alt="" />
                                                </div>
                                                email@dongaplasticrecycling.com
                                            </a>
                                        </li>
                                        <li class="info-item">
                                            <a href="tel:111-222-333-444" class="info-link" target="_blank">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-phone.svg" alt="" />
                                                </div>
                                                111-222-333-444
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-menu-close">
                                    <img src="./assets/images/icon-close.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decor">
                <img src="./assets/images/decor-right.png" alt="" />
            </div>
        </div>
        <div class="pg" style="width: 0%"></div>
    </header>
    <main class="main">
        <div class="bn bn-gen">
            <div class="bn-img">
                <img src="./assets/images/banner-lh.png" alt="">
            </div>
            <div class="container">
                <div class="bn-wrap">
                    <h1 class="bn-tt">TIN TỨC</h1>
                    <p class="bn-desc">Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ
                        những năm 1500V</p>
                </div>
            </div>

            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item ">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="breadcrumbs-item current">
                    <a href="javascript:;">Liên hệ</a>
                </li>
            </ul>
        </div>
        <div class="ctsec pos-relative">
            <div class="container">
                <div class="ctsec-wrap">
                    <div class="ctsec-box d-wrap">
                        <div class="ctsec-left d-item">
                            <div class="ctsec-ct">
                                <h2 class="t-title t-main mb-16 fw-7">Liên hệ với chúng tôi</h2>
                                <p class="desc mb-32">It is a long established fact that a reader will be distracted by
                                    the
                                    readable content of a page when looking at its layout.
                                </p>
                                <div class="ctsec-forrm">
                                    <form action="">
                                        <div class="form-wrap mb-32">
                                            <div class="form-control full-w">
                                                <input type="text" class="form-input" placeholder="Họ và tên">
                                            </div>
                                            <div class="form-control full-w">
                                                <input type="text" class="form-input" placeholder="Email liên hệ">
                                            </div>
                                            <div class="form-control full-w">
                                                <textarea name="" id="" cols="20" rows="7" class="form-text"
                                                    placeholder="Nội dung"></textarea>
                                            </div>
                                        </div>

                                        <button class="btn">
                                            Gửi thông tin
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="ctsec-right d-item">
                            <div class="ctsec-img">
                                <img src="./assets/images/ct-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ctin pos-relative">
            <div class="container">
                <div class="ctin-wrap">
                    <h2 class="t-title text-center fw-7 t-main mb-16">Thông tin liên hệ</h2>
                    <p class="desc text-center mb-40">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.
                    </p>

                    <div class="ctin-box flex flex-wrap">
                        <div class="ctin-left">
                            <div class="ctin-ct t-white">
                                <h3 class="ctin-tt mb-24">Đông Á - Recycling</h3>

                                <ul class="ctin-list">
                                    <li class="ctin-item">
                                        <a href="" class="ctin-item-wrap">
                                            <span class="icon">
                                                <img src="./assets/images/phone.svg" alt="">
                                            </span>
                                            <span class="text">+84 377 340 341</span>
                                        </a>
                                    </li>
                                    <li class="ctin-item">
                                        <a href="" class="ctin-item-wrap">
                                            <span class="icon">
                                                <img src="./assets/images/mail.svg" alt="">
                                            </span>
                                            <span class="text">donga@gmail.com</span>
                                        </a>
                                    </li>
                                    <li class="ctin-item">
                                        <a href="" class="ctin-item-wrap">
                                            <span class="icon">
                                                <img src="./assets/images/location.svg" alt="">
                                            </span>
                                            <span class="text">1073/23 Đ. Cách Mạng Tháng 8
                                                Phường 7, Tân Bình, Thành phố Hồ Chí Minh.</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="ctin-right">
                            <div class="ctin-map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.266068165492!2d106.65356757589862!3d10.790922358924435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed189fa855d%3A0xf63e15bfce46baef!2sC%C3%B4ng%20ty%20TNHH%20-%20MONA%20MEDIA!5e0!3m2!1svi!2s!4v1681916149010!5m2!1svi!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-top row">
                <div class="footer-logo col-3">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="footer-ctn col-4">
                    <p class="txt">
                        Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ
                        nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình
                        bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
                        gồm nội dung.
                    </p>
                </div>
                <div class="footer-form col-5">
                    <form action="">
                        <label for="email">Đăng ký nhận tin</label>
                        <div class="input-wr">
                            <input type="text" name="email" placeholder="Email của bạn" />
                            <button class="btn-submit" type="submit">
                                <img src="./assets/images/icon-mail.svg" alt="" />
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-facebook.svg" alt="" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-youtube.svg" alt="" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-instagram.svg" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href=""> Giới thiệu </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Sản phẩm </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Tuyển dụng </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Liên hệ </a>
                        </li>
                    </ul>
                </div>
                <div class="copy">
                    <p class="title txt">Thiết kế và phát triển bởi</p>
                    <span class="desc">
                        <span class="copy-icon">
                            <img src="./assets/images/logo-mona.svg" alt="" />
                        </span>
                        <p class="txt">MONA.Media / Website</p>
                        <span class="copy-icon">
                            <img src="./assets/images/icon-share.svg" alt="" />
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <img src="./assets/images/icon-backtotop.svg" alt="" />
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.js"></script>
    <script src="./js/library/gsap/scrollTrigger.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>