<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <!-- <link rel="icon" type="image/png" href="./assets/images/mona.png" /> -->
    <title>Home</title>
</head>

<body>
    <header class="header hd-main">
        <div class="header-logo">
            <a href="" class="custom-logo-link">
                <img src="./assets/images/logo.png" alt="Dong A Plastic Recycling" />
            </a>
        </div>
        <div class="header-right">
            <div class="header-language-wr">
                <div class="language-list">
                    <img src="./assets/images/icon-language-vn.png" alt="" />

                    <a href="" class="current-language">VN</a>
                    <i class="fas fa-chevron-down icon-language-chevdown"></i>
                    <div class="sub-language">
                        <div class="language-item">
                            <img src="./assets/images/icon-language-vn.png" alt="" />
                            <a href="" class="">EN</a>
                        </div>
                        <div class="language-item">
                            <img src="./assets/images/icon-language-vn.png" alt="" />
                            <a href="" class="">CN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="burger header-btn-menu">
                <div class="hamburger" id="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <div class="menu-wr">
                    <div class="menu-ctn">
                        <div class="menu-right mobile">
                            <div class="right-ctn">
                                <p class="title">Công ty TNHH Đông A</p>
                                <ul class="info-list">
                                    <li class="info-item">
                                        <a href="" class="info-link">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-location.svg" alt="" />
                                            </div>
                                            1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                                        </a>
                                    </li>
                                    <li class="info-item">
                                        <a href="mailto:email@dongaplasticrecycling.com" class="info-link"
                                            target="_blank">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-mail.svg" alt="" />
                                            </div>
                                            email@dongaplasticrecycling.com
                                        </a>
                                    </li>
                                    <li class="info-item">
                                        <a href="tel:111-222-333-444" class="info-link" target="_blank">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-phone.svg" alt="" />
                                            </div>
                                            111-222-333-444
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-left col-6">
                            <div class="menu-nav">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Giới thiệu
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item dropdown current-menu-page">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link"> Mục A </a>
                                            </li>
                                            <li class="menu-item dropdown current-menu-page">
                                                <a href="" class="menu-link"> Mục B </a>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B1 </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B2 </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link"> Mục C </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Quy trình tái chế
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Tin tức
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Liên hệ
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-right col-6">
                            <div class="right-box">
                                <div class="right-img">
                                    <img src="./assets/images/menu-view.jpg" alt="" />
                                </div>
                                <div class="right-ctn">
                                    <p class="title">Công ty TNHH Đông A</p>
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <a href="" class="info-link">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-location.svg" alt="" />
                                                </div>
                                                1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                                            </a>
                                        </li>
                                        <li class="info-item">
                                            <a href="mailto:email@dongaplasticrecycling.com" class="info-link"
                                                target="_blank">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-mail.svg" alt="" />
                                                </div>
                                                email@dongaplasticrecycling.com
                                            </a>
                                        </li>
                                        <li class="info-item">
                                            <a href="tel:111-222-333-444" class="info-link" target="_blank">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-phone.svg" alt="" />
                                                </div>
                                                111-222-333-444
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-menu-close">
                                    <img src="./assets/images/icon-close.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decor">
                <img src="./assets/images/decor-right.png" alt="" />
            </div>
        </div>
        <div class="pg" style="width: 0%"></div>
    </header>
    <main class="main">
        <div class="bn bn-gen">
            <div class="bn-img">
                <img src="./assets/images/banner-lh.png" alt="">
            </div>
            <div class="container">
                <div class="bn-wrap">
                    <h1 class="bn-tt">TIN TỨC</h1>
                    <p class="bn-desc">Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ
                        những năm 1500V</p>
                </div>
            </div>

            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item ">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="breadcrumbs-item current">
                    <a href="javascript:;">Liên hệ</a>
                </li>
            </ul>
        </div>

        <div class="newsct">
            <div class="container">
                <div class="newsct-wrap d-wrap">
                    <div class="newsct-left d-item">
                        <div class="newsct-ct">
                            <h2 class="newsct-tt t-title fw-7 t-main mb-16">Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm
                                Cho Thế Giới Sạch Hơn” năm 2023</h2>

                            <div class="calen mb-24">
                                <div class="calen-icon">
                                    <img src="./assets/images/calendar.svg" alt="">
                                </div>

                                <div class="calen-text">
                                    28-02-2023
                                </div>

                            </div>
                            <div class="content mb-40">
                                <div class="d-wrap">
                                    <div class="d-item d-2">
                                        <img src="./assets/images/img-1.png" alt="">
                                    </div>
                                    <div class="d-item d-2">
                                        <img src="./assets/images/img-2.png" alt="">
                                    </div>
                                </div>

                                <p>
                                    Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ
                                    những năm 1500, khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo
                                    thành một bản mẫu văn bản. Đoạn văn bản này không những đã tồn tại năm thế kỉ,
                                    mà khi được áp dụng vào tin học văn phòng, nội dung của nó vẫn không hề bị thay
                                    đổi. Nó đã được phổ biến trong những năm 1960 nhờ việc bán những bản giấy
                                    Letraset in những đoạn Lorem Ipsum, và gần đây hơn, được sử dụng trong các ứng
                                    dụng dàn trang, như Aldus PageMaker
                                </p>

                                <img src="./assets/images/img-3.png" alt="">

                                <p>
                                    Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến
                                    đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì là
                                    có ý nghĩa.
                                </p>
                            </div>

                            <div class="mxh flex flex flex-ai-center">
                                <span class="text">Chia sẻ bài viết</span>

                                <div class="mxh-list">
                                    <a href="" class="mxh-item">
                                        <img src="./assets/images/icon-facebook.svg" alt="">
                                    </a>
                                    <a href="" class="mxh-item">
                                        <img src="./assets/images/insta.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsct-right d-item">
                        <div class="nsearch mb-24">
                            <form action="">
                                <div class="nsearch-search mb-32">
                                    <input type="text" class="nsearch-input" placeholder="Từ khóa tìm kiếm">
                                    <button class="nsearch-search-btn">
                                        <img src="./assets/images/search.svg" alt="">
                                    </button>
                                </div>
                            </form>

                            <h3 class="nsearch-tt t-main upper fw-7 mb-16">CHỦ ĐỀ</h3>

                            <ul class="nsearch-list">
                                <li class="nsearch-item">
                                    <a href="" class="nsearch-item-link">
                                        <span class="text">Rác thải nhựa</span>
                                        <span class="num">(13)</span>
                                    </a>
                                </li>
                                <li class="nsearch-item">
                                    <a href="" class="nsearch-item-link">
                                        <span class="text">Nguyên liệu</span>
                                        <span class="num">(13)</span>
                                    </a>
                                </li>
                                <li class="nsearch-item">
                                    <a href="" class="nsearch-item-link">
                                        <span class="text">Ô nhiễm môi trường</span>
                                        <span class="num">(13)</span>
                                    </a>
                                </li>
                                <li class="nsearch-item">
                                    <a href="" class="nsearch-item-link">
                                        <span class="text">Sản phẩm tái chế</span>
                                        <span class="num">(13)</span>
                                    </a>
                                </li>
                                <li class="nsearch-item">
                                    <a href="" class="nsearch-item-link">
                                        <span class="text">Kinh doanh</span>
                                        <span class="num">(13)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="standee">
                            <div class="standee-wr">
                                <div class="standee-hd">
                                    <p class="txt">Nguyên liệu</p>
                                    <p class="txt-main">NHỰA<br>TÁI SINH</p>
                                    <!-- stroke -->
                                    <svg class="fill-svg">
                                        <defs>
                                            <filter id="stroke-text-svg-filter">
                                                <feMorphology operator="dilate" radius="1"></feMorphology>
                                                <feComposite operator="xor" in="SourceGraphic"></feComposite>
                                            </filter>
                                        </defs>
                                    </svg>
                                    <p class="txt">Từ rác thải</p>
                                </div>
                                <div class="standee-list">
                                    <div class="standee-item">
                                        <div class="standee-item-img">
                                            <img src="./assets/images/product-1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="standee-item">
                                        <div class="standee-item-img">
                                            <img src="./assets/images/product-2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="standee-item">
                                        <div class="standee-item-img">
                                            <img src="./assets/images/product-3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <a href="" class="btn-view-link"> Xem ngay </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newsre">
            <div class="container">
                <div class="newsre-wrap free-slide">
                    <div class="genTop d-wrap mb-24 flex-ai-end flex-jc-between">
                        <div class="genTop-item d-item">
                            <h2 class="t-title t-main mb-8 fw-7">Tin tức liên quan</h2>
                            <p class="desc">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout.
                            </p>
                        </div>
                        <div class="genTop-item d-item">
                            <div class="swiper-navi flex flex-ai-center">
                                <div class="swiper-navigation prev pri">
                                    <i class="fas fa-arrow-left"></i>
                                </div>
                                <div class="swiper-navigation next pri">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="newsre-sl d-wrap">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide d-3">
                                    <div class="newsre-item d-item">
                                        <div class="newsre-item-wrap">
                                            <a href="" class="newsre-item-link">
                                                <img src="./assets/images/news-related.png" alt="">
                                            </a>

                                            <div class="newsre-item-ct">
                                                <div class="calen">
                                                    <div class="calen-icon">
                                                        <img src="./assets/images/calendar.svg" alt="">
                                                    </div>
                    
                                                    <div class="calen-text">
                                                        28-02-2023
                                                    </div>
                    
                                                </div>
                                                <a href="" class="newsre-item-link">Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide d-3">
                                    <div class="newsre-item d-item">
                                        <div class="newsre-item-wrap">
                                            <a href="" class="newsre-item-link">
                                                <img src="./assets/images/news-related.png" alt="">
                                            </a>

                                            <div class="newsre-item-ct">
                                                <div class="calen">
                                                    <div class="calen-icon">
                                                        <img src="./assets/images/calendar.svg" alt="">
                                                    </div>
                    
                                                    <div class="calen-text">
                                                        28-02-2023
                                                    </div>
                    
                                                </div>
                                                <a href="" class="newsre-item-link">Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide d-3">
                                    <div class="newsre-item d-item">
                                        <div class="newsre-item-wrap">
                                            <a href="" class="newsre-item-link">
                                                <img src="./assets/images/news-related.png" alt="">
                                            </a>

                                            <div class="newsre-item-ct">
                                                <div class="calen">
                                                    <div class="calen-icon">
                                                        <img src="./assets/images/calendar.svg" alt="">
                                                    </div>
                    
                                                    <div class="calen-text">
                                                        28-02-2023
                                                    </div>
                    
                                                </div>
                                                <a href="" class="newsre-item-link">Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide d-3">
                                    <div class="newsre-item d-item">
                                        <div class="newsre-item-wrap">
                                            <a href="" class="newsre-item-link">
                                                <img src="./assets/images/news-related.png" alt="">
                                            </a>

                                            <div class="newsre-item-ct">
                                                <div class="calen">
                                                    <div class="calen-icon">
                                                        <img src="./assets/images/calendar.svg" alt="">
                                                    </div>
                    
                                                    <div class="calen-text">
                                                        28-02-2023
                                                    </div>
                    
                                                </div>
                                                <a href="" class="newsre-item-link">Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-top row">
                <div class="footer-logo col-3">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="footer-ctn col-4">
                    <p class="txt">
                        Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ
                        nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình
                        bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
                        gồm nội dung.
                    </p>
                </div>
                <div class="footer-form col-5">
                    <form action="">
                        <label for="email">Đăng ký nhận tin</label>
                        <div class="input-wr">
                            <input type="text" name="email" placeholder="Email của bạn" />
                            <button class="btn-submit" type="submit">
                                <img src="./assets/images/icon-mail.svg" alt="" />
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-facebook.svg" alt="" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-youtube.svg" alt="" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-instagram.svg" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href=""> Giới thiệu </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Sản phẩm </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Tuyển dụng </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Liên hệ </a>
                        </li>
                    </ul>
                </div>
                <div class="copy">
                    <p class="title txt">Thiết kế và phát triển bởi</p>
                    <span class="desc">
                        <span class="copy-icon">
                            <img src="./assets/images/logo-mona.svg" alt="" />
                        </span>
                        <p class="txt">MONA.Media / Website</p>
                        <span class="copy-icon">
                            <img src="./assets/images/icon-share.svg" alt="" />
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <img src="./assets/images/icon-backtotop.svg" alt="" />
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.js"></script>
    <script src="./js/library/gsap/scrollTrigger.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>