<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <!-- <link rel="icon" type="image/png" href="./assets/images/mona.png" /> -->
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <a href="" class="custom-logo-link">
                <img src="./assets/images/logo.png" alt="Dong A Plastic Recycling" />
            </a>
        </div>
        <div class="header-right">
            <div class="header-language-wr">
                <div class="language-list">
                    <img src="./assets/images/icon-language-vn.png" alt="" />

                    <a href="" class="current-language">VN</a>
                    <i class="fas fa-chevron-down icon-language-chevdown"></i>
                    <div class="sub-language">
                        <div class="language-item">
                            <img src="./assets/images/icon-language-vn.png" alt="" />
                            <a href="" class="">EN</a>
                        </div>
                        <div class="language-item">
                            <img src="./assets/images/icon-language-vn.png" alt="" />
                            <a href="" class="">CN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="burger header-btn-menu">
                <div class="hamburger" id="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <div class="menu-wr">
                    <div class="menu-ctn">
                        <div class="menu-right mobile">
                            <div class="right-ctn">
                                <p class="title">Công ty TNHH Đông A</p>
                                <ul class="info-list">
                                    <li class="info-item">
                                        <a href="" class="info-link">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-location.svg" alt="" />
                                            </div>
                                            1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                                        </a>
                                    </li>
                                    <li class="info-item">
                                        <a href="mailto:email@dongaplasticrecycling.com" class="info-link"
                                            target="_blank">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-mail.svg" alt="" />
                                            </div>
                                            email@dongaplasticrecycling.com
                                        </a>
                                    </li>
                                    <li class="info-item">
                                        <a href="tel:111-222-333-444" class="info-link" target="_blank">
                                            <div class="info-icon">
                                                <img src="./assets/images/icon-phone.svg" alt="" />
                                            </div>
                                            111-222-333-444
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-left col-6">
                            <div class="menu-nav">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Giới thiệu
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item dropdown current-menu-page">
                                        <a href="" class="menu-link">
                                            Sản phẩm
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="" class="menu-link"> Mục A </a>
                                            </li>
                                            <li class="menu-item dropdown current-menu-page">
                                                <a href="" class="menu-link"> Mục B </a>
                                                <ul class="menu-list">
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B1 </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B2 </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="" class="menu-link"> Mục B3 </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="" class="menu-link"> Mục C </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Quy trình tái chế
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Tin tức
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Liên hệ
                                            <div class="menu-icon">
                                                <img src="./assets/images/icon-menu-active.svg" alt="" />
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-right col-6">
                            <div class="right-box">
                                <div class="right-img">
                                    <img src="./assets/images/menu-view.jpg" alt="" />
                                </div>
                                <div class="right-ctn">
                                    <p class="title">Công ty TNHH Đông A</p>
                                    <ul class="info-list">
                                        <li class="info-item">
                                            <a href="" class="info-link">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-location.svg" alt="" />
                                                </div>
                                                1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                                            </a>
                                        </li>
                                        <li class="info-item">
                                            <a href="mailto:email@dongaplasticrecycling.com" class="info-link"
                                                target="_blank">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-mail.svg" alt="" />
                                                </div>
                                                email@dongaplasticrecycling.com
                                            </a>
                                        </li>
                                        <li class="info-item">
                                            <a href="tel:111-222-333-444" class="info-link" target="_blank">
                                                <div class="info-icon">
                                                    <img src="./assets/images/icon-phone.svg" alt="" />
                                                </div>
                                                111-222-333-444
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-menu-close">
                                    <img src="./assets/images/icon-close.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decor">
                <img src="./assets/images/decor-right.png" alt="" />
            </div>
        </div>
        <div class="pg" style="width: 0%"></div>
    </header>
    <main class="main">
        <div class="bn bn-gen">
            <div class="bn-img">
                <img src="./assets/images/banner-lh.png" alt="">
            </div>
            <div class="container">
                <div class="bn-wrap">
                    <h1 class="bn-tt">TIN TỨC</h1>
                    <p class="bn-desc">Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ
                        những năm 1500V</p>
                </div>
            </div>

            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item ">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="breadcrumbs-item current">
                    <a href="javascript:;">Liên hệ</a>
                </li>
            </ul>
        </div>
        <div class="proDt mb-32 section overflow-hidden">
            <div class="container">
                <div class="proDt-wrap">
                    <div class="proDt-intro">
                        <div class="proDt-intro-wrap d-wrap">
                            <div class="proDt-left d-item">
                                <div class="proDt-info-slide dsm-wrap flex-jc-between">
                                    <div class="proDt-info-thumbs dsm-item">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-1.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-2.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-3.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-4.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-5.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="proDt-info-main dsm-item">
                                        <div class="swiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-1.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-2.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-3.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-4.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="proDt-info-item">
                                                        <div class="media-inner">
                                                            <img src="./assets/images/pro-5.png" alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="proDt-right d-item">
                                <div class="proDt-content">
                                    <div class="proDt-desc mb-16">
                                        <div class="proDt-list mb-16">
                                            <div class="proDt-row">
                                                <div class="proDt-col">
                                                    <p class="proDt-tit">Tên sản phẩm:</p>
                                                </div>
                                                <div class="proDt-col">
                                                    <p class="name">Hạt nhựa rPE</p>
                                                </div>
                                            </div>
                                            <div class="proDt-row">
                                                <div class="proDt-col">
                                                    <p class="proDt-tit">
                                                        Phân loại:
                                                    </p>
                                                </div>
                                                <div class="proDt-col">
                                                    <p class="type">Loại sản phẩm 01</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="proDt-tit mb-8">
                                            Mô tả ngắn:
                                        </p>
                                        <p class="type">Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và
                                            rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn
                                            bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu
                                        </p>
                                    </div>

                                    <div class="proDt-bottom">
                                        <a href="" class="btn mb-16">
                                            Liên hệ báo giá
                                        </a>

                                        <div class="mxh flex flex flex-ai-center">
                                            <span class="text">Chia sẻ bài viết</span>

                                            <div class="mxh-list">
                                                <a href="" class="mxh-item">
                                                    <img src="./assets/images/icon-facebook.svg" alt="">
                                                </a>
                                                <a href="" class="mxh-item">
                                                    <img src="./assets/images/insta.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proInf">
            <div class="container">
                <div class="proInf-box">
                    <p class="proInf-tit mb-24">Mô tả sản phẩm</p>
                    <div class="proInf-wrap d-wrap">
                        <div class="proInf-left d-item d-2">
                            <div class="proInf-ct">
                                <p class="proInf-desc">
                                    Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản
                                    ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển
                                    xuất hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng hơn 2000 tuổi. Một giáo
                                    sư của trường Hampden-Sydney College (bang Virginia - Mỹ) quan tâm tới một trong những
                                    từ la-tinh khó hiểu nhất, "consectetur", trích
                                </p>
                                <ul>
                                    <li>Trái với quan điểm chung của số đông, Lorem Ipsum</li>
                                    <li>Trái với quan điểm chung của số đông, Lorem Ipsum</li>
                                    <li>Trái với quan điểm chung của số đông, Lorem Ipsum</li>
                                </ul>
                            </div>
                        </div>
                        <div class="proInf-right d-item d-2">
                            <div class="proInf-video">
                                <video class="play-plyr" data-poster="./assets/images/pro-dt-1.png">
                                    <source src="./assets/video/pexels-videogrammer-nft-2527932-1920x1080-60fps.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                  </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="prore">
            <div class="container">
                <div class="prore-wrap free-slide">
                    <div class="genTop d-wrap mb-24 flex-ai-end flex-jc-between">
                        <div class="genTop-item d-item">
                            <h2 class="t-title t-main mb-8 fw-7">Tin tức liên quan</h2>
                            <p class="desc">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout.
                            </p>
                        </div>
                        <div class="genTop-item d-item">
                            <div class="swiper-navi flex flex-ai-center">
                                <div class="swiper-navigation prev pri">
                                    <i class="fas fa-arrow-left"></i>
                                </div>
                                <div class="swiper-navigation next pri">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="prore-sl d-wrap">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide d-4">
                                    <div class="d-item">
                                        <div class="product-item">
                                          <div class="product-item-img">
                                            <a href="A" class="product-item-img-link">
                                              <img src="./assets/images/product-1.jpg" alt="">
                                              <span class="product-overlay">
                                                Chi tiết
                                                <span class="product-overlay-icon">
                                                  <img src="./assets/images/icon-product.svg" alt="">
                                                </span>
                                              </span>
                                            </a>
                                          </div>
                                          <div class="product-info">
                                            <a href="" class="product-info-link">Hạt như rPE</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="swiper-slide d-4">
                                    <div class="d-item">
                                        <div class="product-item">
                                          <div class="product-item-img">
                                            <a href="A" class="product-item-img-link">
                                              <img src="./assets/images/product-1.jpg" alt="">
                                              <span class="product-overlay">
                                                Chi tiết
                                                <span class="product-overlay-icon">
                                                  <img src="./assets/images/icon-product.svg" alt="">
                                                </span>
                                              </span>
                                            </a>
                                          </div>
                                          <div class="product-info">
                                            <a href="" class="product-info-link">Hạt như rPE</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="swiper-slide d-4">
                                    <div class="d-item">
                                        <div class="product-item">
                                          <div class="product-item-img">
                                            <a href="A" class="product-item-img-link">
                                              <img src="./assets/images/product-1.jpg" alt="">
                                              <span class="product-overlay">
                                                Chi tiết
                                                <span class="product-overlay-icon">
                                                  <img src="./assets/images/icon-product.svg" alt="">
                                                </span>
                                              </span>
                                            </a>
                                          </div>
                                          <div class="product-info">
                                            <a href="" class="product-info-link">Hạt như rPE</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="swiper-slide d-4">
                                    <div class="d-item">
                                        <div class="product-item">
                                          <div class="product-item-img">
                                            <a href="A" class="product-item-img-link">
                                              <img src="./assets/images/product-1.jpg" alt="">
                                              <span class="product-overlay">
                                                Chi tiết
                                                <span class="product-overlay-icon">
                                                  <img src="./assets/images/icon-product.svg" alt="">
                                                </span>
                                              </span>
                                            </a>
                                          </div>
                                          <div class="product-info">
                                            <a href="" class="product-info-link">Hạt như rPE</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="swiper-slide d-4">
                                    <div class="d-item">
                                        <div class="product-item">
                                          <div class="product-item-img">
                                            <a href="A" class="product-item-img-link">
                                              <img src="./assets/images/product-1.jpg" alt="">
                                              <span class="product-overlay">
                                                Chi tiết
                                                <span class="product-overlay-icon">
                                                  <img src="./assets/images/icon-product.svg" alt="">
                                                </span>
                                              </span>
                                            </a>
                                          </div>
                                          <div class="product-info">
                                            <a href="" class="product-info-link">Hạt như rPE</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-top row">
                <div class="footer-logo col-3">
                    <a href="" class="custom-logo-link">
                        <img src="./assets/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="footer-ctn col-4">
                    <p class="txt">
                        Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ
                        nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình
                        bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
                        gồm nội dung.
                    </p>
                </div>
                <div class="footer-form col-5">
                    <form action="">
                        <label for="email">Đăng ký nhận tin</label>
                        <div class="input-wr">
                            <input type="text" name="email" placeholder="Email của bạn" />
                            <button class="btn-submit" type="submit">
                                <img src="./assets/images/icon-mail.svg" alt="" />
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-facebook.svg" alt="" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-youtube.svg" alt="" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="">
                            <img src="./assets/images/icon-instagram.svg" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href=""> Giới thiệu </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Sản phẩm </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Tuyển dụng </a>
                        </li>
                        <li class="menu-item">
                            <a href=""> Liên hệ </a>
                        </li>
                    </ul>
                </div>
                <div class="copy">
                    <p class="title txt">Thiết kế và phát triển bởi</p>
                    <span class="desc">
                        <span class="copy-icon">
                            <img src="./assets/images/logo-mona.svg" alt="" />
                        </span>
                        <p class="txt">MONA.Media / Website</p>
                        <span class="copy-icon">
                            <img src="./assets/images/icon-share.svg" alt="" />
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <img src="./assets/images/icon-backtotop.svg" alt="" />
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/gsap/gsap.js"></script>
    <script src="./js/library/gsap/scrollTrigger.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>