<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/backdoor.css" />
  <!-- <link rel="icon" type="image/png" href="./assets/images/mona.png" /> -->
  <title>Home</title>
</head>

<body>
  <header class="header">
    <div class="header-logo">
      <a href="" class="custom-logo-link">
        <img src="./assets/images/logo.png" alt="Dong A Plastic Recycling" />
      </a>
    </div>
    <div class="header-right">
      <div class="header-language-wr">
        <div class="language-list">
          <img src="./assets/images/icon-language-vn.png" alt="" />

          <a href="" class="current-language">VN</a>
          <i class="fas fa-chevron-down icon-language-chevdown"></i>
          <div class="sub-language">
            <div class="language-item">
              <img src="./assets/images/icon-language-vn.png" alt="" />
              <a href="" class="">EN</a>
            </div>
            <div class="language-item">
              <img src="./assets/images/icon-language-vn.png" alt="" />
              <a href="" class="">CN</a>
            </div>
          </div>
        </div>
      </div>
      <div class="burger header-btn-menu">
        <div class="hamburger" id="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="header-menu">
      <div class="container">
        <div class="menu-wr">
          <div class="menu-ctn">
            <div class="menu-right mobile">
              <div class="right-ctn">
                <p class="title">Công ty TNHH Đông A</p>
                <ul class="info-list">
                  <li class="info-item">
                    <a href="" class="info-link">
                      <div class="info-icon">
                        <img src="./assets/images/icon-location.svg" alt="" />
                      </div>
                      1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                    </a>
                  </li>
                  <li class="info-item">
                    <a href="mailto:email@dongaplasticrecycling.com" class="info-link" target="_blank">
                      <div class="info-icon">
                        <img src="./assets/images/icon-mail.svg" alt="" />
                      </div>
                      email@dongaplasticrecycling.com
                    </a>
                  </li>
                  <li class="info-item">
                    <a href="tel:111-222-333-444" class="info-link" target="_blank">
                      <div class="info-icon">
                        <img src="./assets/images/icon-phone.svg" alt="" />
                      </div>
                      111-222-333-444
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="menu-left col-6">
              <div class="menu-nav">
                <ul class="menu-list">
                  <li class="menu-item">
                    <a href="" class="menu-link">
                      Giới thiệu
                      <div class="menu-icon">
                        <img src="./assets/images/icon-menu-active.svg" alt="" />
                      </div>
                    </a>
                  </li>
                  <li class="menu-item dropdown current-menu-page">
                    <a href="" class="menu-link">
                      Sản phẩm
                      <div class="menu-icon">
                        <img src="./assets/images/icon-menu-active.svg" alt="" />
                      </div>
                    </a>
                    <ul class="menu-list">
                      <li class="menu-item">
                        <a href="" class="menu-link"> Mục A </a>
                      </li>
                      <li class="menu-item dropdown current-menu-page">
                        <a href="" class="menu-link"> Mục B </a>
                        <ul class="menu-list">
                          <li class="menu-item">
                            <a href="" class="menu-link"> Mục B1 </a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link"> Mục B2 </a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link"> Mục B3 </a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="" class="menu-link"> Mục C </a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link">
                      Quy trình tái chế
                      <div class="menu-icon">
                        <img src="./assets/images/icon-menu-active.svg" alt="" />
                      </div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link">
                      Tin tức
                      <div class="menu-icon">
                        <img src="./assets/images/icon-menu-active.svg" alt="" />
                      </div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="" class="menu-link">
                      Liên hệ
                      <div class="menu-icon">
                        <img src="./assets/images/icon-menu-active.svg" alt="" />
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="menu-right col-6">
              <div class="right-box">
                <div class="right-img">
                  <img src="./assets/images/menu-view.jpg" alt="" />
                </div>
                <div class="right-ctn">
                  <p class="title">Công ty TNHH Đông A</p>
                  <ul class="info-list">
                    <li class="info-item">
                      <a href="" class="info-link">
                        <div class="info-icon">
                          <img src="./assets/images/icon-location.svg" alt="" />
                        </div>
                        1073/23 Cách Mạng Tháng 8, P7, Tân Bình, HCM
                      </a>
                    </li>
                    <li class="info-item">
                      <a href="mailto:email@dongaplasticrecycling.com" class="info-link" target="_blank">
                        <div class="info-icon">
                          <img src="./assets/images/icon-mail.svg" alt="" />
                        </div>
                        email@dongaplasticrecycling.com
                      </a>
                    </li>
                    <li class="info-item">
                      <a href="tel:111-222-333-444" class="info-link" target="_blank">
                        <div class="info-icon">
                          <img src="./assets/images/icon-phone.svg" alt="" />
                        </div>
                        111-222-333-444
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="btn-menu-close">
                  <img src="./assets/images/icon-close.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="decor">
        <img src="./assets/images/decor-right.png" alt="" />
      </div>
    </div>
    <div class="pg" style="width: 0%"></div>
  </header>
  <main class="main">
    <section>
      <div class="container">
        <div class=""></div>
      </div>
    </section>
  </main>
  <div class="home-product-main free-slide">
    <div class="container">
      <div class="bn-home-product">
        <img src="" alt="">
      </div>
      <div class="title">
        <p class="title-text">
          Sản phẩm chính
        </p>
      </div>
      <div class="item-main d-wrap">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide d-3 d-item">
              <a href="" class="item-content">
                <div class="img-1">
                  <img src="./assets/images/vMain.png" alt="">
                </div>
                <div class="img-2">
                  <div class="content">
                    <p class="text">rPP</p>
                    <img src="./assets/images/vProduct.svg" alt="">
                  </div>
                </div>
              </a>

            </div>
            <div class="swiper-slide d-3 d-item">
              <a href="" class="item-content">
                <div class="img-1">
                  <img src="./assets/images/vMain.png" alt="">
                </div>
                <div class="img-2">
                  <div class="content">
                    <p class="text">rPP</p>
                    <img src="./assets/images/vProduct.svg" alt="">
                  </div>
                </div>
              </a>

            </div>
            <div class="swiper-slide d-3 d-item">
              <a href="" class="item-content">
                <div class="img-1">
                  <img src="./assets/images/vMain.png" alt="">
                </div>
               <div class="img-2-con">
                  <div class="img-2">
                    <div class="content">
                      <p class="text">100% Recycled Shopping Bag</p>
                     
                    </div>
                  </div>
               </div>
              </a>

            </div>
             <div class="swiper-slide d-3 d-item">
              <a href="" class="item-content">
                <div class="img-1">
                  <img src="./assets/images/vMain.png" alt="">
                </div>
                <div class="img-2">
                  <div class="content">
                    <p class="text">rPP</p>
                    <img src="./assets/images/vProduct.svg" alt="">
                  </div>
                </div>
              </a>

            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <a href="" class="btn">
        Xem tất cả sản phẩm
      </a>
    </div>
  </div>

  <div class="home-whats">
    <div class="container">
      <div class="bn-home-whats">
        <img src="./assets/images/vAbout.png" alt="">
      </div>
      <div class="home-whats-title">
        <p class="text">
          Chúng tôi làm gì?
        </p>
      </div>
      <div class="home-whats-content">
        <div class="img-content">
          <img src="./assets/images/vHomeWhat.png" alt="">
        </div>
        <div class="content-con">
          <div class="content-item">
            <div class="img-item">
              <img src="./assets/images/vtrash.png" alt="">
            </div>
            <div class="content">
              <div class="title">
                <p class="title-text">
                  Thu gom
                </p>
              </div>
              <div class="text">
                <p class="text-inner">
                  Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm 1500, khi
                  một họa sĩ vô danh ghép nhiều đoạn văn bản.
                </p>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="img-item">
              <img src="./assets/images/vtrash.png" alt="">
            </div>
            <div class="content">
              <div class="title">
                <p class="title-text">
                  Tái chế
                </p>
              </div>
              <div class="text">
                <p class="text-inner">
                  Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm 1500, khi
                  một họa sĩ vô danh ghép nhiều đoạn văn bản.
                </p>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="img-item">
              <img src="./assets/images/vHome3.png" alt="">
            </div>
            <div class="content">
              <div class="title">
                <p class="title-text">
                  Tái sử dụng
                </p>
              </div>
              <div class="text">
                <p class="text-inner">
                  Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm 1500, khi
                  một họa sĩ vô danh ghép nhiều đoạn văn bản.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-staff">
    <div class="img-background">
      <img src="./assets/images/vBannerNv.png" alt="">
    </div>

    <div class="container">
      <div class="about-staff-con">

        <div class="title">
          <p class="title-text">
            Đội ngũ điều hành
          </p>
        </div>
        <div class="note">
          <p class="note-text">
            Under the development of circular economic, in 2021, Dong-A Industry Company Limited , a subsidiary company
            of Mekong Plastic Joint Stock
          </p>
        </div>
        <div class="list-slide d-wrap free-slide">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide d-4 d-item">
                <div class="item-slide ">
                  <div class="img-staff">
                    <img src="./assets/images/vStaff.png" alt="">
                  </div>
                  <div class="name">
                    <p class="name-text">
                      Lycoris Recoil Chisato
                      Nishikigi 1/7
                    </p>
                  </div>
                  <div class="position">
                    <p class="position-text">
                      CEO & FOUNDER
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide d-4 d-item">
                <div class="item-slide ">
                  <div class="img-staff">
                    <img src="./assets/images/vStaff.png" alt="">
                  </div>
                  <div class="name">
                    <p class="name-text">
                      Lycoris Recoil Chisato
                      Nishikigi 1/7
                    </p>
                  </div>
                  <div class="position">
                    <p class="position-text">
                      CEO & FOUNDER
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide d-4 d-item">
                <div class="item-slide ">
                  <div class="img-staff">
                    <img src="./assets/images/vStaff.png" alt="">
                  </div>
                  <div class="name">
                    <p class="name-text">
                      Lycoris Recoil Chisato
                      Nishikigi 1/7
                    </p>
                  </div>
                  <div class="position">
                    <p class="position-text">
                      CEO & FOUNDER
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide d-4 d-item">
                <div class="item-slide ">
                  <div class="img-staff">
                    <img src="./assets/images/vStaff.png" alt="">
                  </div>
                  <div class="name">
                    <p class="name-text">
                      Lycoris Recoil Chisato
                      Nishikigi 1/7
                    </p>
                  </div>
                  <div class="position">
                    <p class="position-text">
                      CEO & FOUNDER
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide d-4 d-item">
                <div class="item-slide ">
                  <div class="img-staff">
                    <img src="./assets/images/vStaff.png" alt="">
                  </div>
                  <div class="name">
                    <p class="name-text">
                      Lycoris Recoil Chisato
                      Nishikigi 1/7
                    </p>
                  </div>
                  <div class="position">
                    <p class="position-text">
                      CEO & FOUNDER
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-news">
    <div class="container">
      <div class="home-news-title">
        <div class="title">
          <p class="title-text">
            Tin tức
          </p>
        </div>
        <a href="" class="btn">
          Gửi thông tin
        </a>
      </div>
      <div class="home-news-content d-wrap">
        <div class="home-news-content-left d-item">
          <div class="left-item">
            <a href="" class="left-item-img">
              <img src="./assets/images/vHome.png" alt="">
            </a>
            <div class="left-item-date">
              <div class="date-img">
                <img src="./assets/images/date.svg" alt="">
              </div>
              <div class="date-content">
                <p class="text">
                  28-02-2023
                </p>
              </div>
            </div>
            <a href="" class="left-item-text">
              Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023
            </a>
          </div>
          <div class="left-item">
            <a href="" class="left-item-img">
              <img src="./assets/images/vHome.png" alt="">
            </a>
            <div class="left-item-date">
              <div class="date-img">
                <img src="./assets/images/date.svg" alt="">
              </div>
              <div class="date-content">
                <p class="text">
                  28-02-2023
                </p>
              </div>
            </div>
            <a href="" class="left-item-text">
              Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023
            </a>
          </div>
        </div>
        <div class="home-news-content-right d-item">
          <div class="right-item">
            <div class="right-item-img">
              <img src="./assets/images/vHome2.png" alt="">
            </div>
            <div class="right-item-content">
              <div class="left-item-date">
                <a href="" class="date-img">
                  <img src="./assets/images/date.svg" alt="">
                </a>
                <div class="date-content">
                  <p class="text">
                    28-02-2023
                  </p>
                </div>
              </div>
              <a href="" class="right-item-text">
                Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023
              </a>
            </div>

          </div>
          <div class="right-item">
            <div class="right-item-img">
              <img src="./assets/images/vHome2.png" alt="">
            </div>
            <div class="right-item-content">
              <div class="left-item-date">
                <a href="" class="date-img">
                  <img src="./assets/images/date.svg" alt="">
                </a>
                <div class="date-content">
                  <p class="text">
                    28-02-2023
                  </p>
                </div>
              </div>
              <a href="" class="right-item-text">
                Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023
              </a>
            </div>

          </div>
          <div class="right-item">
            <div class="right-item-img">
              <img src="./assets/images/vHome2.png" alt="">
            </div>
            <div class="right-item-content">
              <div class="left-item-date">
                <a href="" class="date-img">
                  <img src="./assets/images/date.svg" alt="">
                </a>
                <div class="date-content">
                  <p class="text">
                    28-02-2023
                  </p>
                </div>
              </div>
              <a href="" class="right-item-text">
                Việt Nam Tái Chế Hưởng Ứng Chiến Dịch “Làm Cho Thế Giới Sạch Hơn” 2023
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="about-bottom">
    <div class="container">
      <div class="about-bottom-img">
        <img src="./assets/images/vAbout.png" alt="">
      </div>
      <div class="about-bottom-title">
        <p class="text">
          Chúng tôi thu gom những gì?
        </p>
      </div>

      <div class="about-bottom-con">
        <div class="about-bottom-content">
          <div class="about-item">
            <div class="title">
              <p class="title-text">
                01
              </p>
            </div>
            <div class="content">
              <div class="content-img">
                <img src="./assets/images/vCup.png" alt="">
              </div>
              <div class="content-text">
                <p class="text">
                  Ly nhựa PP
                </p>
              </div>
            </div>
            <div class="img-hover">
              <img src="./assets/images/imgVhover.png" alt="">
            </div>
          </div>
          <div class="about-item">
            <div class="title">
              <p class="title-text">
                01
              </p>
            </div>
            <div class="content">
              <div class="content-img">
                <img src="./assets/images/vCup.png" alt="">
              </div>
              <div class="content-text">
                <p class="text">
                  Ly nhựa PP
                </p>
              </div>
            </div>
            <div class="img-hover">
              <img src="./assets/images/imgVhover.png" alt="">
            </div>
          </div>
          <div class="about-item">
            <div class="title">
              <p class="title-text">
                01
              </p>
            </div>
            <div class="content">
              <div class="content-img">
                <img src="./assets/images/vCup.png" alt="">
              </div>
              <div class="content-text">
                <p class="text">
                  Ly nhựa PP
                </p>
              </div>
            </div>
            <div class="img-hover">
              <img src="./assets/images/imgVhover.png" alt="">
            </div>
          </div>
          <div class="about-item">
            <div class="title">
              <p class="title-text">
                01
              </p>
            </div>
            <div class="content">
              <div class="content-img">
                <img src="./assets/images/vCup.png" alt="">
              </div>
              <div class="content-text">
                <p class="text">
                  Ly nhựa PP
                </p>
              </div>
            </div>
            <div class="img-hover">
              <img src="./assets/images/imgVhover.png" alt="">
            </div>
          </div>
          <div class="about-item">
            <div class="title">
              <p class="title-text">
                01
              </p>
            </div>
            <div class="content">
              <div class="content-img">
                <img src="./assets/images/vCup.png" alt="">
              </div>
              <div class="content-text">
                <p class="text">
                  Ly nhựa PP
                </p>
              </div>
            </div>
            <div class="img-hover">
              <img src="./assets/images/imgVhover.png" alt="">
            </div>
          </div>
          <div class="about-item">
            <div class="title">
              <p class="title-text">
                01
              </p>
            </div>
            <div class="content">
              <div class="content-img">
                <img src="./assets/images/vCup.png" alt="">
              </div>
              <div class="content-text">
                <p class="text">
                  Ly nhựa PP
                </p>
              </div>
            </div>
            <div class="img-hover">
              <img src="./assets/images/imgVhover.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer-top row">
        <div class="footer-logo col-3">
          <a href="" class="custom-logo-link">
            <img src="./assets/images/logo.png" alt="" />
          </a>
        </div>
        <div class="footer-ctn col-4">
          <p class="txt">
            Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ
            nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình
            bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
            gồm nội dung.
          </p>
        </div>
        <div class="footer-form col-5">
          <form action="">
            <label for="email">Đăng ký nhận tin</label>
            <div class="input-wr">
              <input type="text" name="email" placeholder="Email của bạn" />
              <button class="btn-submit" type="submit">
                <img src="./assets/images/icon-mail.svg" alt="" />
                Đăng ký
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="footer-social">
        <ul class="social-list">
          <li class="social-item">
            <a href="">
              <img src="./assets/images/icon-facebook.svg" alt="" />
            </a>
          </li>
          <li class="social-item">
            <a href="">
              <img src="./assets/images/icon-youtube.svg" alt="" />
            </a>
          </li>
          <li class="social-item">
            <a href="">
              <img src="./assets/images/icon-instagram.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href=""> Giới thiệu </a>
            </li>
            <li class="menu-item">
              <a href=""> Sản phẩm </a>
            </li>
            <li class="menu-item">
              <a href=""> Tuyển dụng </a>
            </li>
            <li class="menu-item">
              <a href=""> Liên hệ </a>
            </li>
          </ul>
        </div>
        <div class="copy">
          <p class="title txt">Thiết kế và phát triển bởi</p>
          <span class="desc">
            <span class="copy-icon">
              <img src="./assets/images/logo-mona.svg" alt="" />
            </span>
            <p class="txt">MONA.Media / Website</p>
            <span class="copy-icon">
              <img src="./assets/images/icon-share.svg" alt="" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </footer>
  <div class="back-to-top backToTop">
    <img src="./assets/images/icon-backtotop.svg" alt="" />
  </div>
  <script src="./js/library/jquery/jquery.js"></script>
  <script src="./js/library/swiper/swiper-bundle.min.js"></script>
  <script src="./js/library/aos/aos.js"></script>
  <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
  <script src="./js/library/gallery/lightgallery-all.min.js"></script>
  <script src="./js/library/jquery/jquery-migrate.js"></script>
  <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
  <script src="./js/library/gsap/gsap.js"></script>
  <script src="./js/library/gsap/scrollTrigger.js"></script>
  <script src="./js/library/select2/select2.min.js"></script>
  <script src="./js/main.js" type="module"></script>
</body>

</html>