.weh {
    padding-top: 10rem;

    @include max(1200px) {
        padding-top: 5rem;
    }

    &-item {
        cursor: pointer;

        &-wrap {
            position: relative;
        }

        &-img {
            @include imgPd(1, 1);

            img {
                @include imgCover;
            }
        }

        &-ct {
            width: 33rem;
            height: 33rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.6);
            background: rgba(255, 208, 144, 0.88);
            border-radius: 18rem;
            @include mid-flex;
            flex-direction: column;
            padding: 3.2rem;
            transition: all 0.3s ease-in-out;
        }

        &-tit {
            font-weight: 700;
            @include fz-20;
            margin-bottom: 0.4rem;
        }

        &-info {
            font-weight: 700;
            @include fz-34;
            line-height: 1.3;

        }

        &-icon {
            width: 2rem;
            height: 2rem;
            margin-top: 1rem;
            transition: all 0.3s ease-in-out;
        }

        &-desc {
            max-height: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }

        &-top {
            transform: scale(1.25);
            margin-bottom: 1.8rem;
            transition: all 0.3s ease-in-out;
        }

        @include hover {
            .weh-item-ct {
                transform: translate(-50%, -50%) scale(1);
            }

            .weh-item-top {
                transform: scale(1);
            }

            .weh-item-icon {
                margin-top: 0;
                height: 0;
                overflow: hidden;
            }

            .weh-item-desc {
                max-height: 9rem;
            }
        }
    }

    .swiper-slide {
        min-width: 37rem;

        &-active {
            .weh-item-ct {
                transform: translate(-50%, -50%) scale(1);
            }

            .weh-item-top {
                transform: scale(1);
            }

            .weh-item-icon {
                margin-top: 0;
                height: 0;
                overflow: hidden;
            }

            .weh-item-desc {
                max-height: 9rem;
            }
        }
    }
}

.progress {
    padding: 10rem 0;

    &-re {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    &-step {
        width: 50%;
        @include flex;
        height: 100%;

        @include max(1200px) {
            justify-content: unset !important;
        }

        &-wrap {
            position: relative;
            width: fit-content;
            @include flex;
            align-items: center;

        }

        .icon {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background: #6CAB5E;
            @include mid-flex;
            padding: 2.4rem;

            @include max(1200px) {
                margin: 0 !important;
            }
        }

        .text {
            position: absolute;
            font-weight: 700;
            @include fz-20;
            color: #298600;

            @include max(1200px) {
                position: static;
                transform: none !important;
            }

        }



        &:nth-child(even) {
            justify-content: flex-end;

            .text {
                top: 50%;
                transform: translateY(-50%);
                right: calc(100% + var(--pdGen2));
                text-align: right;
                white-space: nowrap;
            }
        }

        &:nth-child(2) {
            margin-bottom: 16.8rem;

            .icon {
                margin-right: 15.8rem;
            }
        }

        &:nth-child(4) {
            margin-bottom: 9.1rem;

            .icon {
                margin-right: 21rem;
            }
        }

        &:nth-child(6) {
            .icon {
                margin-right: 5rem;
            }
        }

        &:nth-child(3) {
            .icon {
                margin-left: 15.8rem;
            }
        }

        &:nth-child(5) {
            margin-bottom: 9.1rem;

            .icon {
                margin-left: 21rem;
            }
        }

        &:nth-child(7) {
            .icon {
                margin-left: 5rem;
            }
        }


        &:nth-child(odd) {
            .text {
                top: 50%;
                transform: translateY(-50%);
                left: calc(100% + var(--pdGen2));
                white-space: nowrap;
            }
        }



        &:first-child {
            width: 100%;
            justify-content: center;
            margin-bottom: 2.1rem;

            .icon {
                margin: 0;
            }

            .text {
                left: 50%;
                transform: translateX(-50%);
                bottom: calc(100% + var(--pdGen2));
                top: auto;
            }
        }

    }

    &-dc {
        width: 100%;
        max-width: 54rem;
        left: 50%;
        transform: translateX(-50%);
        top: 4.7rem;

        @include max(1200px) {
            display: none;
        }

    }
}