
.header {
    background-color: $color-pri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: 50;
    &-logo {
        width: auto;
        height: 5rem;
        padding: 0.6rem 0;
        @include flex;
        align-items: center;
        // justify-content: center;
        height: 100%;
        margin-right: auto;
        .custom-logo-link {
            @include flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            img {
                max-width: 100%;
                width: 13rem;
                object-fit: cover;
            }
        }
        // container
        width: 100%;
        max-width: 123rem;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    &-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        @include flex;
        align-items: center;
        justify-content: space-between;
        z-index: 5;

        .header-language-wr {
            color: $color-white;
            margin-right: 3.1rem;
            .language-list {
                @include flex;
                align-items: center;
                position: relative;
                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                a {
                    color: $color-white;
                    margin: 0 0.6rem;

                    @include max (600px) {
                        font-size: 1.4rem;
                    }
                }
                .icon-language-chevdown {
                    font-size: 0.8rem;
                }
            }
            .language-list:hover .sub-language {
                -webkit-transform: none;
                transform: none;
            }
            .sub-language {
                position: absolute;
                top: 100%;
                min-width: 9rem;
                height: fit-content;
                padding: 1rem;
                border-bottom-left-radius: 5px;
                background-color: $color-pri;

                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-transform: perspective(1200px) rotateX(-90deg);
                transform: perspective(1200px) rotateX(-90deg);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                a {
                    display: block;
                    color: $color-sub-text;
                }
                a:hover {
                    color: $color-white;
                }
                .language-item {
                    @include flex;
                    align-items: center;
                }
            }
        }
    }
}
.header {
    .pg {
        background: linear-gradient(90deg, $color-pri 17%, $color-green 100%, transparent 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.3rem;
        transition: width 0.1s ease;
        -webkit-transition: width 0.1s ease;
        -moz-transition: width 0.1s ease;
        -ms-transition: width 0.1s ease;
        -o-transition: width 0.1s ease;
        border-radius: 100rem;
    }
}

// .header-menu {
//     height: 100vh;
//     overflow: scroll;
//     background-color: $color-second;
//     transition: all 0.4s ease-in-out;
//     // transform: translateX(-100%);
//     &.open {
//         transform: none;
//     }
//     // &::after {
//     //     content: '';
//     //     position: absolute;
//     //     top: 0;
//     //     bottom: 0;
//     //     right: 0;
//     //     width: 50%;
//     //     height: 100%;
//     //     background-color: $color-pri;
//     //     background-image: url(../assets/images/menu-bg.png);
//     //     background-repeat: no-repeat;
//     //     background-size: cover;
//     //     background-position: center right;
//     //     background-blend-mode: overlay;
//     //     transition: all 0.3s ease-in-out;
//     //     z-index: -1;
//     //     @include max (800px) {
//     //         width: 100%;
//     //         background-position: center center;;
//     //     }
//     // }
//     .menu {
//         &-wr {
//         }
//         &-ctn {
//             @include flex;
//             height: 100%;
//             @include max (800px) {
//                 flex-direction: column-reverse;
//                 justify-content: center;
//             }
//         }
//         &-left {
//             padding-right: 0;
            
//             &.col-6 {
//                 @include max (800px) {
//                     width: 100%;
//                 }
//             }
//         }
//         &-right {
//             &.col-6 {
//                 @include max (800px) {
//                     width: 100%;
//                 }
//             }
//             &.mobile {
//                 display: none;
//                 @include max (800px) {
//                     display: block;
//                     margin-top: 8rem;
//                     .right-ctn {
//                         display: block;
//                     }
//                 }
//             }
//             .right {
//                 &-box {
//                     width: calc((5/6) * 100%);
//                     margin-left: auto;
//                     position: relative;
//                     @include max (800px) {
//                         width: 100%;
//                     }
//                 }
//                 &-img {
//                     @include imgPd(262,486);
//                     margin-bottom: 5.2rem;
//                     img {
//                         @include imgCover;
//                         border-radius: 5px;
//                     }
//                 }
//                 &-ctn {
//                     @include max (800px) {
//                         display: none;
//                     }
//                     .title {
//                         font-size: 1.6rem;
//                         color: $color-white;
//                         font-weight: 700;
//                         margin-bottom: 2rem;
                        
//                     }
//                     .info {
//                         &-list {
//                             width: fit-content;
//                         }
//                         &-item {
//                             margin-bottom: 1.2rem;
//                             transition: all 0.4s ease-in-out;
//                         }
//                         &-link {
//                             @include flex-ct;
//                             color: $color-white;
//                             transition: all 0.4s ease-in-out;
//                             &:hover {
//                                 color: $color-green;
//                             }
//                         }
//                         &-icon {
//                             @include mid-flex-ctn;
//                             width: 1.6rem;
//                             height: 1.6rem;
//                             margin-right: 0.6rem;
//                         }
//                     }

//                 }
//             }
//             img {
//                 max-width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }
//         }
//         &-item {
//             // @include mid-flex-ctn;
//             position: relative;
//             &.current-menu-page > .menu-link {
//                 color: $color-green;
//                 & .menu-icon {
//                     visibility: visible;
//                     opacity: 1;
//                     transition: all 0.3s linear;
//                 }
//             }
            
            
//         }
//         &-link {
//             position: relative;
//             color: $color-pri;
//             font-size: 3.4rem;
//             font-weight: 700;
//             padding: 2.6rem 0;
//             @include mid-flex-ctn;
//             @include max (1200px) {
//                 font-size: 2.4rem;
//             }
//             @include max (800px) {
//                 color: $color-white;
//                 padding: 1.4rem 0;
//             }
//             & > i {
//                 padding: 1.8rem;
//                 margin-left: auto;
//                 margin-right: 5rem;
//                 color: $color-pri;
//                 @include max (1200px) {
//                     margin-right: 2rem;
//                 }
//                 @include max (800px) {
//                     color: $color-white;
//                     padding: 0;
//                 }
//             }
//             &:hover {
//              color: $color-green;   
//             }
//             &:hover .menu-icon {
//                 visibility: visible;
//                 opacity: 1;
//             }
//             &::after {
//                 content: '';
//                 position: absolute;
//                 width: 100vw;
//                 height: 1px;
//                 top: 100%;
//                 right: 0;
//                 background-color: $color-pri;
//                 transition: all 0.3s linear;
//                 @include max (800px) {
//                     background-color: $color-white;
//                 }
//             }
            
//         }
//         &-icon {
//             @include mid-flex-ctn;
//             height: 100%;
//             margin-left: 1.4rem;
//             padding: 1rem;
//             visibility: hidden;
//             opacity: 0;
//             transition: all 0.3s linear;
//         }
//     }

//     .menu-item.dropdown > .menu-list {
//         display: none;
//     }

//     .menu-nav .menu-item.dropdown > .menu-list {
//         margin-left: 5rem;
//         @include max (1200px) {
//             margin-left: 2.5rem;
//         }
//     }
//     .menu-item.dropdown.menu-link .active > i {
//         transform: rotate(180deg);
//     }
//     .decor {
//         position: absolute;
//         bottom: -1rem;
//         right: 0;
//         @include max (600px) {
//             bottom: -5rem;
//         }
//     }
// }
.box {
    background-color: #ccc;
    height: 2000px;
}

.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    // height: 100vh;
    background-color: $color-second;
    z-index: 9999;
    transition: all 0.4s ease-in-out;
    // overflow: scroll;
    transform: translateX(-100%);
    &.open {
        transform: none;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        // height: 100vh;
        background-color: $color-pri;
        background-image: url(../assets/images/menu-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        background-blend-mode: overlay;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        @include max (800px) {
            width: 100%;
            background-position: center center;;
        }
    }
    .menu {
        &-wr {

            padding-top: 15rem;
            // position: relative;
            // top: 50%;
            // transform: translateY(-50%);
            // @include max(800px) {
            //     height: 100%;
            // }
        }
        &-ctn {
            @include flex;
            // height: 100%;
            @include max (800px) {
                flex-direction: column-reverse;
                justify-content: center;
            }
        }
        &-left {
            padding-right: 0;
             overflow: scroll;

            
            &.col-6 {
                @include max (800px) {
                    width: 100%;
                }
            }
        }
        &-right {
            &.col-6 {
                @include max (800px) {
                    width: 100%;
                }
            }
            &.mobile {
                display: none;
                @include max (800px) {
                    display: block;
                    margin-top: 8rem;
                    .right-ctn {
                        display: block;
                    }
                }
            }
            .right {
                &-box {
                    width: calc((5/6) * 100%);
                    margin-left: auto;
                    position: relative;
                    @include max (800px) {
                        width: 100%;
                    }
                }
                &-img {
                    @include imgPd(262,486);
                    margin-bottom: 5.2rem;
                    img {
                        @include imgCover;
                        border-radius: 5px;
                    }
                }
                &-ctn {
                    @include max (800px) {
                        display: none;
                    }
                    .title {
                        font-size: 1.6rem;
                        color: $color-white;
                        font-weight: 700;
                        margin-bottom: 2rem;
                        
                    }
                    .info {
                        &-list {
                            width: fit-content;
                        }
                        &-item {
                            margin-bottom: 1.2rem;
                            transition: all 0.4s ease-in-out;
                        }
                        &-link {
                            @include flex-ct;
                            color: $color-white;
                            transition: all 0.4s ease-in-out;
                            &:hover {
                                color: $color-green;
                            }
                        }
                        &-icon {
                            @include mid-flex-ctn;
                            width: 1.6rem;
                            height: 1.6rem;
                            margin-right: 0.6rem;
                        }
                    }

                }
            }
            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-item {
            // @include mid-flex-ctn;
            position: relative;
            &.current-menu-page > .menu-link {
                color: $color-green;
                & .menu-icon {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s linear;
                }
            }
            
            
        }
        &-link {
            position: relative;
            color: $color-pri;
            font-size: 3.4rem;
            font-weight: 700;
            padding: 2.6rem 0;
            @include mid-flex-ctn;
            @include max (1200px) {
                font-size: 2.4rem;
            }
            @include max (800px) {
                color: $color-white;
                padding: 1.4rem 0;
            }
            & > i {
                padding: 1.8rem;
                margin-left: auto;
                margin-right: 5rem;
                color: $color-pri;
                @include max (1200px) {
                    margin-right: 2rem;
                }
                @include max (800px) {
                    color: $color-white;
                    padding: 0;
                }
            }
            &:hover {
             color: $color-green;   
            }
            &:hover .menu-icon {
                visibility: visible;
                opacity: 1;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100vw;
                height: 1px;
                top: 100%;
                right: 0;
                background-color: $color-pri;
                transition: all 0.3s linear;
                @include max (800px) {
                    background-color: $color-white;
                }
            }
            
        }
        &-icon {
            @include mid-flex-ctn;
            height: 100%;
            margin-left: 1.4rem;
            padding: 1rem;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;
        }
    }

    .menu-item.dropdown > .menu-list {
        display: none;
    }

    .menu-nav .menu-item.dropdown > .menu-list {
        margin-left: 5rem;
        @include max (1200px) {
            margin-left: 2.5rem;
        }
    }
    .menu-item.dropdown.menu-link .active > i {
        transform: rotate(180deg);
    }
    .decor {
        position: absolute;
        bottom: -1rem;
        right: 0;
        @include max (600px) {
            bottom: -5rem;
        }
    }
}